<div class="footer">
  <footer id="colophon" class="site-footer" role="contentinfo">
      <div class="medlist-footer-bottom row">
        <div class="medium-12 columns">
          <ul class="medlist-links">
            <li><a href="/">Home</a></li>
            <li><a href="/find-a-list">Find a List</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/request-a-quote">Request a Quote</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/listbrokers">List Brokers</a></li>
            <li><a href="/catalogue">Catalogue</a></li>  
            
            <li><a href="/terms-conditions">T&Cs</a></li>
            <li><a href="/contact">Contact</a></li> 
          </ul>
           <p class="copyright">© 2015 Medlist. All rights reserved.</p>
        </div>
      </div>
  </footer>
</div>