<div class="hide-for-large-up">

  <nav class="pushy pushy-left">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/find-a-list">Find A List</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/request-a-quote">Request a Quote</a></li>
      <li><a href="/pricing">Pricing</a></li>  
      <li><a href="/listbrokers">List Brokers</a></li> 
      <li><a href="/contact">Contact</a></li>
      <li>  
        <a href="#" data-reveal-id="searchModal"><i class="wp-svg-search-2 search2"></i></a>

        <div id="searchModal" style="max-width: 400px" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <!-- <?php get_search_form(); ?> -->
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
      </li>
    </ul>
  </nav>

  <div class="site-overlay"></div>

  <div class="pushy-menu">
    <div class="row">
      <div class="medium-12 columns">
      <div class="menu-btn"><a><i class="fa fa-bars"></i></a></div>
        <div class="main-logo">
          <a href="/">
            <h1>Medlist</h1>
          </a>
        </div>
      </div>
    </div>
  </div>
  

</div>

<div class="show-for-large-up">
  <nav class="top-bar" data-topbar role="navigation">

    <ul class="title-area">
      <li class="name">
        <div class="main-logo">
          <a href="/">
            <div class="menu-logo-image">
            </div>
            <div class="menu-logo-h1">
              <h1 class="logo">MEDLIST</h1>
<!--               <h1 class="secondary-logo"> INTERNATIONAL</h1> -->
            </div>
          </a>
        </div>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="/">Home</a></li>
        <li><a href="/find-a-list">Find A List</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/request-a-quote">Request a Quote</a></li>
        <li><a href="/pricing">Pricing</a></li>  
        <li><a href="/listbrokers">List Brokers</a></li> 
        <li><a href="/contact">Contact</a></li>
        <li>  
          <a href="#" data-reveal-id="searchModal"><i class="wp-svg-search-2 search2"></i></a>

          <div id="searchModal" style="max-width: 400px" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>
        </li>

        
      </ul>
    </section>

  </nav>
</div>
